* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    width: 200px;
    height: 500px;
}

ul > li > ul {
    display: none;
}

ul > li:target > ul {
    display: block;
    height: 100%;
}


.opcion {
    background: blue;
    color: white;
}

a { color: white;
    text-decoration: none;
}

.subOpcion {
    padding-left: 20px;
    background: gray;
    color: white;
}

/* Intento con lo relacionado a transición*/
#opc1:hover
{
    width: 700px;
}

#opc2:hover
{
    width: 700px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

#opc3:hover
{
    background-color: blueviolet;
    transition: background-color 2s ease-out;
}

#opc4:hover
{
    background-color: green;
    transition: background-color 2s ease-out;
}