.container {
    border-radius: 12px;
    border-style: double;
    border-width: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    border-radius: 12px;
    border-style: groove;
    border-width: 10px;
}